[user]
	name = Mayur Fernandes
	email = mayurf@gmail.com
[alias]
    cob = checkout -b
	co = checkout
	s = status
	pom = push origin master
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = auto
[core]
	editor = vi
	autocrlf = input
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[includeIf "gitdir:~/c/w/rit/"]
	path = ~/c/w/rit/.gitconfig-ritchie
[commit]
	gpgSign = true
	template = /Users/mayurf/.gitmessage
[tag]
	gpgSign = true
